<h1>New Auction</h1>

<%= form_for @auction do |f| %>
<div>Title: <%= f.text_field :title %></div>
<div>Details: <%= f.text_area :details %></div>
  <div>Ends On: <%= f.text_field :end_time, id: "datepicker" %></div>
  <div>Reserve Price: <%= f.number_field :reserve_price %></div>
    <%= f.submit %>
<% end %>
